/* 
  grid for mobiles.
*/

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 96%;
}

$v: $columns_total / 2;

@while $columns_total > 6 {
  .col-#{$columns_total} {
    float: left;
    margin-left: 2%;
    margin-right: 2%;    
    width: 95.99%;
  }
  $columns_total: $columns_total - 1;		
}

@while $v > 0 {
  .col-#{$v} {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 46%;
  }
  $v: $v - 1;	
}