/* 
  grid for tablet.
*/

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 96%;
}
 
$v: $columns_total / 2 - 1; //4
$v2: $columns_total / 2 + 3; //8
$v3: $columns_total; 

@while $v3 > 8 {
  .col-#{$v3} {
    float: left;
    margin-left: 2%;    
    width: 94%;
  }
  $v3: $v3 - 1;
} 

@while $v2 > 5 {
  .col-#{$v2} {
    float: left;
    margin-left: 2%;
    width: 62%;
  }
  $v2: $v2 - 1;
}

@while $v > 0 {
  .col-#{$v} {
    float: left;
    margin-left: 2%;
    width: 30%;
  }
  $v: $v - 1;
}